*{
    box-sizing: border-box;
}
:root{

    --main-color:white
}
body{

    margin: 0;
   
}


body,html {
    
    color:var(--main-color);
    margin: 0px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.2;
    
    
}   

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    
    background-image: linear-gradient( 115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{

    margin: 10px auto;
    max-width: 750px;
    
}
#survey-form{
    background: rgba(27, 27, 50, 0.8);
    border-radius: 10px;
    font-size: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;


    

}
header{
    text-align: center;
}
header h1{

    font-weight: 400;
    line-height: 1.2;
}
header p{
font-size: 1.2rem;
font-style: italic;
line-height: 1.4;
font-weight: 200;
text-shadow: 1px 1px 1px rgb(0 0 0 / 40%);
}
.container2{
   margin: 30px auto;
}
.form-groupe{

    padding: 8px 0;
}

.style-input{

    width: 33rem;
    height: 2.2rem;
    border-radius: 5px;
    margin-top: 5px;
}
label{

    line-height: 1.5;
}
#textarea{
    width: 33rem;
    height: 9.2rem;
    border-radius: 5px;
    margin-top: 5px;
}
#submit{
display: flex;
justify-content: center;
align-items: center;
background-color: greenyellow;
color: var(--main-color);
font-size: 1.2rem;
font-weight: 400;
border-radius: 5px;
box-shadow: 1px 1px 1px rgb(0 0 0 / 40%) ;
    width: 33rem;
    height: 2.3rem;

}
input, button, select, textarea {
    
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.input-radio, .input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}